.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 4px solid gray;
  margin: 0 40%;
  border-radius: 20px;
}

.form-register input[type='email'] {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
}

.form-register input[type='password'] {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
}

.form-register button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.form-register button:hover {
  background-color: #0056b3;
}
