.results-list {
  width: 30%;
  background-color: #d1cbcb;
  margin: 0 auto;
  display: grid;
  grid-column: 1;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 16px;
  max-height: 200px;
  overflow-y: scroll;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
}
