.results-list {
  position: absolute;
  z-index: 9999;
  top: 15%;
  left: 42%;
  width: 400px;
  background-color: #928e8e;
  display: grid;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: scroll;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  cursor: pointer;
}

.results-list > div:hover {
  background-color: #696666;
}
